  <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <h1 class="h3 mb-3 font-weight-normal text-center">MODIFIER SON PROFIL</h1>

    <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(laissez vide si vous ne souhaitez pas le modifier)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> charactères minimum</em>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(tapez votre mot de passe actuel)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit "Mettre à jour", class: "btn btn-lg btn-primary btn-block"  %>
  </div>
<% end %>

<p><%= button_to "Supprimer Mon Compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-lg btn-primary btn-block"  %></p>

<%= link_to "Retour", :back %>
</div>
</div>
</div>

