<h1>A PROPOS</h1>


<p>
ACAB vous propose un large catalogue de photos de chat. Ces jolies portraits de chat vont permettre d'égayer vos intérieurs.
</p>
<p>
Chez les hommes, comme chez les chats, la beauté ne doit pas être standardisée, n'oubliez-pas qu'il existe des centaines de milliers de beauté différentes. C'est ce qu'on cherche à mettre en avant chez ACAB.
</p>
<p>
Chacune de nos photos révèlent la beauté unique de chaque chat, et donc aussi de son histoire et de son vécu.
</p>

<h4>ALL CATS ARE BEAUTIFUL</h4>








<% if false %>


<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<% end %>