<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="col-8">
      <div class="container-fluid">
        <div class="row">
            <div class="col-6 mr-2">
                <img class="card-img-top zoom" src= <%= @item.image_url %> alt="Card image cap" width="500" height="430">
            </div>
            <div class="col-5">
                <h1 class="text-center mb-5"><%= @item.title %></h1>
                <p><%= @item.description %></p>
                <p>Prix: <%= @item.price %>$</p>

                <%= form_tag(carts_path(params[:id]), method: "post", class: "form")  do %>
                    <div class="form-group">
                        <%= label_tag "Quantité", nil, class: "form-label" %>
                        <%= select_tag "quantity", options_for_select(1..12, 1), class: "form-control"  %>
                    </div>
      
                    <div class="text-center">
                        <%= submit_tag("Ajouter au panier", class: "btn btn-primary btn-lg btn-block") %>

                    </div>
                <%end%>

            </div>
        </div>
      </div>
    </div>
</div>